

.img {
  margin: 5% 0 5% 0;
  border: 5px solid #c0c0c0;
  /* height: 400px; */
}

.test-landing-title {
  color: #c0c0c0;
}

main.wrapper {
  margin: 0;
}

.instructions-container {
  /* border: 4px solid black; */
  border-top: 20px solid #002357;
  border-radius: 5%;
  padding: 4% 3% 0 3%;
  background: #c0c0c0;
  color: #002357;
  width: 100%;
  margin-bottom: 5%;
}

.instructions-ul {
  font-size: 1.15em;
  border-top: 5px solid #002357;
  border-bottom: 5px solid #002357;
  border-radius: 5%;
  padding: 2% 0 0 10%;
}

svg {
  position: relative;
  margin: 0 1% 0 1%;
}

#root > div > main > div > div > div > a > button {
  color: #002357;
  margin-bottom: 15%;
  /* justify-content: center; */
   width: 100%;
   font-size: 1.5em;
   font-weight: 800;
   padding: 1%;
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  outline: none;
  border-color: transparent;
  box-shadow: 5px 5px 20px 5px #C0C0C0;
}

#root > div > main > div > div > div > a > button:active {
  color: #C0C0C0;
}

#root > div > main > div > div > div > a > button:active {
  color: #C0C0C0;
}
/* .test-start-button {
  color: white;
  border: 5px solid white;
} */

/* #root > div > main > div > div:nth-child(3) > div > a > button {
  margin-bottom: 10%;
}

button {
  margin-bottom: 10%;
} */




/* #root > div > main > div {
  margin: 0;
  width: 100%;

} */

/* MEDIA QUERIES  */

/* Medium devices (Portrait tablets and large landscape phones) */
@media only screen and (min-width: 768px) {
  .img {
    margin: 5% 0 0% 0;
    border: 5px solid #c0c0c0;
    height: 400px;
  }

  .test-landing-title {
    font-size: 4em;
  }
}

/* Large handhelds (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 992px) {
  .img {
    margin: 5% 0 0% 0;
    border: 5px solid #c0c0c0;
    height: 500px;
  }
}


/* Large devices (small laptops and desktops) */
@media only screen and (min-width: 1200px) {

}

/* Large devices (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 1500px) {

}






