* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

.signup-welcome {
  color: #C0C0C0;
  padding: 1%;
  margin-bottom: 3%;
  text-align: center;
}

.signup-form {
  /* border: 5px solid red;  */
  border-top: 20px solid #002357cc;
  background-color: #C0C0C0;
  height: 350px;
  padding-top: 12%;
}

div.container {
  padding: 0;
}

.signup-form-group {
  width: 100%;
  margin-bottom: 3%;
}

.signup-form-control {
  border: 5px solid #002357cc;
  width: 100%;
  height: 2.75em;
  border-radius: 5%;
  padding-left: 2%;
}

.btn-submit-signup {
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  padding: 3%;
  width: 40%;
  border-radius: 10%;
  margin-top: 2%;
}


.btn-submit-signup:focus {
  /* background-color: blue; */
  color: white;
}

/* .personalized-greeting {
  color: blue;
} */







/* ******** TO DO ******** */
/* 
Add more/change style 
  button effects 
  background
  form background
  work on navbar 
*/
