/* .App {
  text-align: center;
  margin-top: 5%;
} */

* {
  box-sizing: border-box;
}

html {
  min-width: 100vw;
  position: relative;
  min-height: 100vh;
  /* overflow-y: hidden; */
  /* overflow-x: hidden; */
  /* height: 100%; */
}


body {
  /* *************  ROYAL BLUE ON TOP ************  */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(50%, #0000c2),
    color-stop(100%, #002357)
  );
  width: 100vw; /* trying to fix white sides on heroku deployment */
  background-attachment: fixed;
  padding-bottom: 50px; /* Height of footer */
  /* padding-top: 10px; */
}


