* {
  box-sizing: border-box;
}

html {
  width: 100%;
  min-height: 100%;
}

/* body {
  width: inherit;
  min-height: inherit;
  margin: 0;
  padding-right: 0;
} */

.welcome {
  /* border: 1px solid purple; */
}

.login-welcome h2 {
  color: blue;
  padding: 1%;
  text-align: center;
}

form {
  /* border: 1px solid red; */
  padding: 5%;
  text-align: center;
}

.form-group {
  border: 2px solid blue;
  /* height: 4em; */
  margin-bottom: 8%;
}

.form-control {
  border: none;
  height: 3em;
}

.btn {
  color: blue;
  background-color: gold;
}

.btn-submit-login {
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  padding: 3%;
  width: 40%;
  border-radius: 10%;
}

.btn-submit-login:focus {
  background-color: blue;
  color: white;
}

/* .personalized-greeting {
  color: blue;
} */





/* ******** TO DO ******** */
/* 
Add more/change style 
  button effects 
  background
  form background
  work on navbar 
*/
