

.btnLink {
    font-weight: bold;
    color: white;
}

.table-storage {
    /* border: 2px solid black; */
    border-top: 20px solid #002357cc;
    height: 475px;
    padding-top: 5%;
    background-color: #C0C0C0;
}

div .form-group {
    border: none;
    border-top: 8px solid #002357cc
    ;
        border-bottom: 8px solid #002357cc
    ;
    border-radius: 5%;

    height: 420px;
    overflow: scroll;
    width: 90%;
    margin: auto;
    background-color: white;
}

.btn {
    width: 100%;
}

