.btnLink {
  font-weight: bold;
  color: white;
}

table > tbody > tr > th {
  /* text-align: right; */
  font-size: .90em;
  font-weight: 800;
  /* margin-left: 2%; */
}

svg {
  font-size: .80em;
  position: absolute;
  left: 2px;
  vertical-align: center;
  /* margin-top: 5%; */
  margin-right: 2%;
}

.table-storage {
  border-top: 20px solid #002357;
  height: 480px;
  padding-top: 5%;
  background-color: #c0c0c0;
}

.testList-form-group {
  border: none;
  border-top: 8px solid #002357;
  border-bottom: 8px solid #002357;
  border-radius: 5%;
  height: 420px;
  overflow: scroll;
  width: 100%;
  margin: auto;
  background-color: white;
}

.btn {
  width: 100%;
}

@media only screen and (max-width: 375px) {
  .table-storage {
    height: 550px;
    margin-top: 8%;
    /* background-color: red; */
  }

  .testList-form-group {
    height: 500px;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .table-storage {
    height: 700px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .table-storage {
    height: 750px;
  }

  .testList-form-group {
    /* background-color: red; */
    height: 650px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .table-storage {
    height: 900px;
  }

  .testList-form-group {
    padding-top: 5%;
    padding-left: 0;
    height: 750px;
  }
}
