/* body {
  padding-top: 5%;
} */

/* .wrapper {
  width: 100%;
  border: 3px solid red;
  min-height: 600px;
  max-height: 600px;
  overflow: scroll;
} */
/* ::-webkit-scrollbar {
  display: none;
} */

.title {
  /* color: blue; */
  font-size: 4em;
  text-align: center;
}

.carousel {
  text-align: center;
   /* border: 2px solid green;  */
   margin-bottom: 10%; 
   padding-top: 15%;
}

.carousel-content {
  /* border: 2px solid purple; */
  padding-bottom: 15%;
  /* margin-bottom: 10%; */
}

.carousel-indicators {
  position:fixed;
  top:0;
  right:50;
}

.carousel-indicators :not(active) {
  /* opacity: 100%; */
  border: 3px solid blue !important;
  min-height: 20px;
  max-width: 20px;
  border-radius: 50px; 
}

.carousel-indicators .active {
  background-color: blue;
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.wrapper h3 {
  font-size: 1.5em;
  font-weight: 800;
  /* margin-bottom: 10%; */
}

.wrapper h6 {
  color: blue;
  font-size: 2em;
  font-weight: 600;
  /* margin-bottom: 10%; */
}

.wrapper p {
  font-size: 1em;
  font-weight: 500;
  margin-bottom: 2%;
  line-height: 1.5em;
}

.radio-inline {
  font-size: 1.5em;
  width: 100%;
}

label input {
  margin-right: 2%;
}

/* .hr {
  color: blue;
} */

/* button {
  font-size: 2em;
  padding: 3%;
  width: 60%;
} */

.btn-next, .btn-submit {
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  padding: 3%;
  width: 40%;
  margin-bottom: 2%;
}

