.carousel-container {
  /* border: 2px solid black; */
  border-top: 20px solid #002357;
  border-radius: 3%;
  margin-top: 3%;
  padding-top: 3%;
  background: #c0c0c0;
  height: 75vh;
  /* max-height: 1200px; */
  margin-bottom: 10%;
}

::-webkit-scrollbar {
  display: none;
}

/* .title {
  font-size: 4em;
  text-align: center;
} */

.carousel {
  text-align: center;
  /* border: 3px solid green;  */
  border-top: 8px solid #002357;
  border-bottom: 8px solid #002357;
  border-radius: 5%;
  /* margin-bottom: 10%;  */
  padding: 15% 2% 0 2%;
  background: white;
  height: 68vh;
  overflow-y: scroll;
}

.carousel-content {
  font-weight: 700;
  padding-bottom: 5%;
}

.carousel-content h3 {
  color: #002357;
}

.carousel-indicators {
  position: fixed;
  top: 0;
  right: 50;
  max-height: 5%;
  margin-top: 5%;
}

.carousel-indicators :not(active) {
  /* opacity: 100%; */
  border: 3px solid #002357 !important;
  min-height: 20px;
  max-width: 20px;
  border-radius: 50px;
}

.carousel-indicators .active {
  background-color: #002357;
  height: 20px;
  width: 20px;
  border-radius: 50px;
}

.view h3 {
  font-size: 1.5em;
  font-weight: 800;
  margin: 1% 0 0 0;
}

.view label {
  color: #002357;
  font-size: 1.15em;
  font-weight: 700;
  margin-bottom: 0;
}

.radio-inline {
  font-size: 1.5em;
  width: 100%;
}

label input {
  margin-right: 2%;
}

.btn-next,
.btn-submit {
  /* border-top: 8px solid #002357; */
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  box-shadow: 5px 10px 10px #002357;
  color: #002357;
  width: 50%;
  font-size: 1.25em;
  padding: 3%;
  font-weight: 600;
  margin-bottom: 2%;
  border-radius: 5%;
  outline: none;
}

.btn-next:active,
.btn-submit:active {
  outline: none;
  color: #c0c0c0;
  box-shadow: 5px 10px 10px #0000c2;
}

.btn-next:focus,
.btn-submit:focus {
  outline: none;
}

.you-scored {
  font-size: 1.5em;
  color: #002357;
}

/* MODAL STYLE  */

.modal-header {
  background: #002357;
}
.modal-body {
  background-color: #c0c0c0;
}

.modal-title {
  color: #c0c0c0;
}

canvas.sigCanvas {
  background-color: white;
  color: #002357;
  margin-bottom: 5%;
  width: 100%;
}

.modal-clear-btn,
.modal-save-btn {
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  border-radius: 5%;
  box-shadow: 5px 10px 10px #002357;
  color: #002357;
  margin-right: 40%;
  font-size: 1.25em;
  font-weight: 700;
}

.modal-save-btn {
  margin: 0;
}

.modal-clear-btn:active,
.modal-save-btn:active {
  color: #c0c0c0;
  box-shadow: 5px 10px 10px #0000c2;
  outline: none;
}

.modal-clear-btn:focus,
.modal-save-btn:focus {
  outline: none;
}

.modal button.close {
  color: #c0c0c0;
  opacity: 1;
}

/* END MODAL STYLE  */

/* MEDIA QUERIES  */

@media only screen and (max-width: 600px) {
}

/* Small devices (landscape phones and large portrait phones 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (Portrait tablets and large landscape phones) */
@media only screen and (min-width: 768px) {
  .carousel-content {
    font-size: 1.5em;
  }

  .modal-body {
    width: 70vw;
    height: 47vh;
  }

  .modal-clear-btn,
  .modal-save-btn {
    border-radius: 5%;
    box-shadow: 5px 10px 10px #002357;
    margin-right: 40%;
    font-size: 2em;
    margin-top: 0;
  }

  .modal-save-btn {
    margin: 0;
  }
}

/* Large handhelds (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 992px) {
  .carousel-content {
    font-size: 2em;
  }
}

/* Large devices (small laptops and desktops) */
@media only screen and (min-width: 1200px) {
}

/* Large devices (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 1500px) {
}

/* @media only screen and (max-width: 375px) {
  .carousel-container {
    height: 500px;
    margin-top: 3%;
    padding-top: 5%;
  }

  .carousel {
    height: 445px;
  }
}

.btn-next, 
.btn-submit {
  width: 50%;
  font-size: 1.25em;
  padding: 3%;
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
  .carousel-container {
    width: 100%;
    height: 700px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .carousel-container {
    height: 800px;
    padding-top: 3%;
  }

  .carousel {
    height: 730px;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .carousel-container {
    height: 1000px;
  }

  .carousel {
    padding-left: 0;
    height: 925px;
  }

  .carousel-content {
    font-size: 1.5em;
    padding-right: 3%;
    padding-left: 3%;
  }
} */
