

.footer {
  /* border: 10px solid black; */
  /* background-color: blue; */
  color: #002357;
  /* background-image: radial-gradient(#eee243 15%, #aa8b00 90%); */
  position: absolute;
  bottom: 0;
  /* left: 0; */
  /* right: 0; */
  width: 100%;
  /* min-height: 5%; */
  /* max-height: 15%; */
}

.footer p {
  /* border: 2px solid red; */
  /* font-size: 1.5em; */
  text-align: center;
  margin: 0;
  font-weight: 800;
}

img {
  /* border: 5px solid white; */
  height: 50px;
  width: 250px;
}

/* .footer-title {
  font-size: 1.15em;
  font-weight: bold;
} */

/* @media only screen and (max-width: 375px) {
  .footer {
/
  }

  .footer p {
    font-size: 2em;
  }
}

@media only screen and (min-width: 415px) and (max-width: 768px) {
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .footer {
    height: 8%;
  }

  .footer p {
    font-size: 2.75em;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1366px) {
  .footer p {
    font-size: 3.5em;
  }
} */
