* {
  margin: 0;
  padding: 0;
  text-indent: 0;
}

#responsive {
  /* margin: auto; */
  padding: 3%;
}

.s1 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 14pt;
}

.s2 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 16pt;
}

p {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 12pt;
  margin: 0pt;
}

h3 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  font-size: 12pt;
}

.s3 {
  color: black;
  font-family: "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  font-size: 11pt;
}

li {
  display: block;
}

#l1 {
  padding-left: 0pt;
}

#l1 > li > *:first-child:before {
  content: "► ";
  color: black;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}
