/* ******** NAVBAR ******* */

.custom-navbar {
  position: relative;
  /* display: flex; */
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
}

.navbar-toggler {
  color: rgb(0, 35, 87);
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  box-shadow: 4px 4px 10px 3px #c0c0c0;
  margin: 3% 0 2% 2%;
  /* width: 70px; */
}

/* .custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(0, 35, 87)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

/* .custom-toggler .navbar-toggler-icon:hover {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(192, 192, 192)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} */

/* .navbar-toggler:hover {
  border: 2px solid #000080;
  border-top: 3px solid #021db6;
  box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
  -webkit-box-shadow:rgba(0,0,0,0.7) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
} */

nav .navbar-nav li {
  width: 100%;
}

nav .navbar-nav li a {
  color: #c0c0c0 !important;
  font-family: "Oswald", sans-serif;
  font-size: 1.25em;
  font-weight: 800;
  letter-spacing: 0.25em;
}

.navbar-toggler:active {
  outline: 0;
  border: none;
  color: #c0c0c0;
  box-shadow: 5px 10px 10px #002357;
}

.navbar-toggler-icon:active {
  color: #c0c0c0;
}

nav ul {
  background: #002357;
  padding-top: 3%;
  padding-bottom: 3%;
  margin-top: 3%;
}

/* ul a:hover {
  background: rgba(2, 29, 182, 0.8);
} */

/* .button {
  color: #002357;
  background-image: radial-gradient(#eee243 15%, #aa8b00 90%);
  width: 95%;
  padding: 2%;
  border-top: 20px solid #000080;
  display: inline-block;
  outline: none;
  box-shadow: 0px 0px 15px 2px #c0c0c0;
  transform: translateY(4px);
  border-radius: 0.4rem;
} */

/***********  alternate gradient for button hover ************/
/* background-image: radial-gradient(#eee243 25%, #CFB53B 90%); */

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.7) 0px 5px 15px,
    inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
}

.button:active {
  outline: none;
  border-radius: 0.25rem;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px,
    inset rgba(255, 255, 255, 0.03) 0px 20px 0px,
    inset rgba(0, 0, 0, 0.15) 0px -20px 20px,
    inset rgba(255, 255, 255, 0.05) 0px 20px 20px;
  text-shadow: 1px 1px 1px #eee;
}

.button:focus {
  outline: 0;
}

/* MEDIA QUERIES  */
@media only screen and (max-width: 600px) { 

}

/* Small devices (landscape phones and large portrait phones 600px and up) */
@media only screen and (min-width: 600px) {

} 

/* Medium devices (Portrait tablets and large landscape phones) */
@media only screen and (min-width: 768px) {
  nav .navbar-nav li a {
    font-size: 1.75em;
  }
}

/* Large handhelds (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 992px) {
  nav .navbar-nav li a {
    font-size: 2em;
  }
}


/* Large devices (small laptops and desktops) */
@media only screen and (min-width: 1200px) {

}

/* Large devices (tablets landscape, large tablets portrait) */
@media only screen and (min-width: 1500px) {

}